body {
    font-family: "Poppins", sans-serif;
    color: #22343d;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*----------------header---------------*/

.page-header {}

.header-nav {}

.logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93333;
    color: #173a56;
}

.header-logo {}

.nav-list {}

.nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}

.list-bt-item {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
}

/*-----------1 sektion--------------*/

.header-bt {}

.list-bt {}


.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #22343d;
}

.page-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #22343d;
}

.started-bt {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.link-video {
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
}

/*---------------2 section--------------*/

.title-product {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
}

.list-product {}

.item-product {}

.title-list {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
}

.page-product {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #22343d;
}

.bt-up {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

/*----------------3 section-------------------*/

.list-management {}

.item-management {}

.page-managment {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #22343d;
}

.title-management {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
}

.title-management-three {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
}

.title-management-four {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    color: #22343d;
}

/*------------------4 section-------------------*/


.title-team {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
}

.page-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #22343d;
}

.list-team {}

.item-team {}

.page-team-coments {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #2f281e;
}

.team-bt {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

/*-------------------5 section------------------------*/

.titel-content {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
}

.page-content {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #22343d;
}

.list-content {}

.item-content {}

.page-time {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}

.datetime {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}

.title-time {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    color: #22343d;
}

/*----------------------  6 section------------------------*/

.title-price {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
}

.page-price {
    font-weight: 500;
    font-size: 16px;
    color: #22343d;
}

.list-price {}

.item-price {}

.title-price-free {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    color: #22343d;
}

.page-price-free {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    color: #22343d;
}

.list-price-free {}

.item-price-free {}

.page-price-table {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.37;
    letter-spacing: 0.01em;
    color: #22343d;
}

.price-bt {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

/*-----------------------7 section-------------------------*/

.title-client {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.78;
    letter-spacing: 0.01em;
    color: #22343d;
}

.page-client {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    text-align: center;
    color: #22343d;
}

.list-client {}

.item-client {}

.page-coments {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #737373;
}

.title-designer {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #02897a;
}

.page-designer {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.01em;
    color: #252b42;
}


/*--------------------footer------------------------*/