body {
    font-family: "Poppins", sans-serif;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
}

img {
    display: block;
}

.container {
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*----------------header---------------*/

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    gap: 16px;
    margin-right: 237px;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
}

.nav-list {
    display: flex;
    gap: 30px;
}

.nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
    padding: 26px 0;
    display: block;
}

.active {
    font-weight: 600;
}

.list-bt-item {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
    width: 105px;
    height: 42px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #bcd0e5;
    border-radius: 4px;
}

.list-bt-item:hover,
.list-bt-item:focus {
    background-color: #03947c;
    color: #fff;
    border: none;
}

.sign-up {
    border-radius: 4px;
    width: 113px;
    height: 42px;
    background: #02897a;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

.sign-up:hover,
.sign-up:focus {
    background-color: #aef7eb;
    color: #181515;
    border: none;
}

.header-bt {
    margin-left: auto;
    display: flex;
    gap: 21px;
    align-items: center;
}

.dark-theme-icon {
    width: 24px;
    height: 24px;
}

/*-----------1 sektion--------------*/

.container {
    display: flex;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    margin-top: 25px;
}

.container-work {
    flex: 1;
    max-width: 50%;
}


.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 15px;
    display: flex;
}

.page-title {
    font-weight: 400;
    font-size: 18px;
    width: 465px;
    height: 95px;
    margin-bottom: 20px;
    line-height: 1.56;
    color: #22343d;
}

.hero-list-btn {
    margin-left: auto;
    display: flex;
    gap: 21px;
    align-items: center;
}

.hero-list-btn-get {
    border-radius: 4px;
    width: 178px;
    height: 53px;
    background: #02897a;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    margin-right: 30px;
}

.hero-list-btn-get:hover,
.hero-list-btn-get:focus {
    background-color: #131d1c;
    color: #fff;
    /* border: none; */
}

.icon-links {
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
}

.icon {
    width: 16px;
    height: 18px;
    margin-right: 5px;
    fill: #02897a;
}

.logo-img {
    flex: 1;
    text-align: right;
}

.hero-imegs {
    max-width: 100%;
    height: auto;
}


/*---------------2 section--------------*/

.container-product {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-product-div {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.product-title {
    margin-bottom: 50px;
}

.title-product {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
}

.list-product {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.item-product {
    margin-right: 30px;
    flex-basis: calc((100% - 90px) / 4);
}

.product-img {
    border-radius: 19px;
    width: 54px;
    height: 54px;
    margin-bottom: 18px;
}

.title-list {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
    margin-top: 18px;
}

.page-product {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: #22343d;
    margin-top: 13px;
}

.bt-up {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 175px;
    height: 53px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    color: #173a56;
    border: 1px solid #bcd0e5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bt-up:hover,
.bt-up:focus {
    background-color: #038071;
    color: #fff;
    border: none;
}

/*----------------3 section-------------------*/


.container-laptop {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 84px;
    margin: 0 145px 100px 145px;
}

.container-management {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 486px;
}

.title-management {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;
}

.title-management-two {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 25px;
}

.page-managment {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 30px;
}

.container-img {
    width: 540px;
    height: auto;
}

/*------------------4 section-------------------*/

.customer-support {
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 100px;
    gap: 84px;
}

.support-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 84px;
    margin: 0 145px 100px 145px;
}

.container-support-img {
    width: 540px;
    height: auto;
}

.container-laptop1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 486px;
}

.title-management3 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;
}

.title-management2 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 25px;
}

.page-managment-support {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 30px;
}

.list-manegement {
    display: flex;
    align-items: center;
}

.item-management-icon {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
}

.support-icon {
    align-items: center;
    margin-right: 30px;
}

.page-managment-support1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: #22343d;
}

/*---------------5 section-------------------*/

.colaborative {
    width: 100vw;
    margin: 50px;
}

.container-colaborative {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 84px;
    margin: 0 145px 100px 145px;
}

.container-laptop2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 486px;
}

.title-colaborative {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;
}

.title-colaborative2 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 25px;
}

.colaborative-page {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 30px;
}

.container-img2 {
    width: 540px;
    height: auto;
}

/*--------------6 section---------------------*/

.container-team {
    text-align: center;
    margin: 0 97px 100px 97px;
}

.title-team {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-bottom: 25px;
}

.title-time-about {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    margin-left: 27px;
    color: #02897a
}

.page-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    margin-bottom: 40px;
}

.list-team {
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    justify-content: space-between;
}

.item-team {
    display: flex;
    flex-basis: calc((100% - 91px) / 2);
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.page-team-coments {
    display: block;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #2f281e;
    margin: 0 auto;
    background-color: rgb(235, 235, 235);
    padding: 13px 20px;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 0 4px 4px 0 rgba(23, 58, 86, 0.15);
}

.team-bt {
    display: block;
    border-radius: 4px;
    width: 216px;
    height: 53px;
    background: #02897a;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin: 50px auto 0 auto;
}

.team-bt:hover,
.team-bt:focus {
    background-color: #aef7eb;
    color: #fff;
    border: none;
}

/*-------------------7 section------------------------*/

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 145px 171px 145px;
}

.content-container {
    text-align: left;
}

.titel-content {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 10px;
}

.page-content {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 40px;
}

.list-content {
    display: flex;
    gap: 30px;
}

.item-content {
    background: #fff;
    flex-basis: calc((100% - 2* 30px) / 3);
    border: 1px solid #dedede;
    border-radius: 8px;
    width: 350px;
    height: 359px;
}

.img-content {
    border-radius: 8px 8px 0 0;
    margin-bottom: 24px;
}

.text-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
    margin-bottom: 12px;
    margin-left: 24px;
}

.title-time {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    color: #22343d;
    margin-left: 27px;
}

/*----------------------  8 section------------------------*/



.container-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 145px 100px 145px;
}

.price-title {
    text-align: center;
    margin-bottom: 10px;
}

.title-price {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    margin-bottom: 10px;
}

.page-price {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
}

.list-price {
    display: flex;
    gap: 72px;
}

.item-price {
    flex-basis: calc((100% - 2* 72px) / 3);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    border-radius: 8px;
    width: 322px;
    height: 456px;
    padding: 32px 0;
    text-align: center;
}


.title-price-free {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    color: #22343d;
}

.page-price-free {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    color: #22343d;
}

.price-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-bottom: 16px;
    text-align: left;
}

.pricing-img {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 76px;
    line-height: 1.32;
    letter-spacing: 0em;
    text-align: center;
    color: #02897a;
}

.price-div-one {
    padding-top: 16px;
}

.pricing-img-dollar {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0em;
    color: #02897a;
    margin-bottom: 4px;
}

.text-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.01em;
    color: #afafaf;
}

.item-price-free {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    color: #22343d;
    text-align: center;
    padding-top: 16px;
    text-align: center;
}

.page-price-table {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.37;
    letter-spacing: 0.01em;
    color: #22343d;
}

.price-bt {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    width: 139px;
    height: 44px;
    background: #02897a;
    margin: 30px auto 0 auto;
}

.item-price-center {
    background-color: #02897a;
}

.title-price-free-center {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    color: #fff;
}

.page-center {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.01em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.37;
    color: #fff;
}

.price-div-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-bottom: 16px;
    text-align: left;
}

.pricing-img-dollar-center5 {
    margin-left: 84px;
    margin-right: auto;
    color: #fff;
}

.price-div-center-img {
    padding-top: 16px;
}

.pricing-img-dollar-center {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0em;
    color: #fff;
    margin-right: 166px;
}

.text-price-center {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.01em;
    color: #e0e0e0;

}

.item-price-free {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    color: #22343d;
    text-align: center;
    padding-top: 16px;
}

.text-center {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: 0.01em;
    color: #fff;
}

.center-btn {
    background: #fff;
    color: #02897a;
}

/*----------------------9 section------------------------------*/

.client-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 145px 100px 145px;
}

.title-client {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.78;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
}

.text-client {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 286px;
    margin-right: 286px;
}

.list-client {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    gap: 30px;
    width: 100%;
    margin: 0 auto;
}

.item-client {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #dedede;
    border-radius: 5px;
    width: 327px;
    height: 240px;
    text-align: left;
}

.stars-img {
    margin: 28px 0 16px 26px;
}

.text-group {
    margin: 0 0 17px 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #737373;
    text-align: left;
}

.container-client {
    display: flex;
    align-items: center;
    margin: 0 0 28px 26px;
}

.container-client-div {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 14px;
}

.linc-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #02897a;
}

.text-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.01em;
    color: #252b42;
    margin: 0;
}

/*-----------------10 section-----------------*/

.container-promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
    width: 968px;
    height: 345px;
    background-color: #02897a;
    margin: 0 auto;
}


.promo-text {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5;
    color: #fff;
    margin: 49px 0 46px 51px;
}

.promo-div-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 10px;
}

.promo-btn {
    display: block;
    padding: 10px 34px;
    margin-left: 51px;
    margin-bottom: 56px;
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.promo-btn:hover,
.promo-btn:focus {
    background-color: #001802;
    color: #fff;
    border: none;
}

.container-promo-img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.ptomo-img {
    height: 331px;
}


/*--------------------footer------------------------*/


.footer-div-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 145px;
    margin-top: 100px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-linc-logo {
    display: flex;
    align-items: center;
    margin-right: 146px;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.9;
    color: #173a56;
}

.footer-logo-img {
    width: 39px;
    height: 36px;
    padding: 0;
    margin-right: 16px;
}

.footer-list {
    display: flex;
    gap: 16px;
    margin-top: 18px;
}

.footer-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #92bdb6;
}

.link-social {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #edfffc;
    border-radius: 50%;
    text-decoration: none;
}

.footer-svg {
    stroke-width: 2px;
    stroke: #02897a;
    fill: none;
}

.footer-linc {
    margin-right: 129px;
}

.title-resours {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.list-linc {
    display: flex;
    flex-direction: column;
}

.footer-linc-contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.19;
    color: inherit;
}

.footer-linc-pp {
    margin-right: 83px;
    white-space: nowrap;
}

.title-legal-stuff {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.linc-pp {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.19;
    color: inherit;
}

.title-info {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.container-number-tel {
    position: relative;
}

.tel-img {
    position: absolute;
    left: 12px;
    top: 35%;
    transform: translateY(-50%);
}

.tel-input {

    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 325px;
    height: 48px;
    margin-top: 22px;
    background-color: transparent;
    padding: 0 43px 0 42px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-up-btn {
    width: 131px;
    height: 39px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid #bcd0e5;
    text-align: center;
    color: #173a56;
    margin-top: 25px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-up-btn:hover,
.sign-up-btn:focus {
    background-color: #027965;
    color: #fff;
    border: none;
}

.container-text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}

/* ---------PRICING----------- */

/* ---Pricing section--- */

.price-table-section {
    margin-bottom: 150px;
}

.price-table-header {
    text-align: center;
    margin-bottom: 10px;
}

.pricing-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 32px;
    margin-top: 50px;
    text-align: center;
}

.pricing-title-two {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 16px;
}

.pricing-text {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-bottom: 49px;
}

/* ---enterprise section--- */

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 294px;
}

.enteprice-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
}

.enteprice-title-plan {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 8px;
}

.enteprice-text {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 32px;
}

.button-plan {
    font-family: "Montserrat", sans-serif;
    border-radius: 8px;
    width: 224px;
    height: 44px;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    text-align: center;
    color: #173a56;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-plan:hover,
.button-plan:focus {
    background-color: #02897a;
    color: #fff;
    border: none;
}

/* ----product alongside section---- */

.product-alongside-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 114px 6px 155px;
}

.alongside-title {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 56px;
}

.alongside-content-block {
    display: flex;
    align-items: flex-start;
}

.main-alongside-image {
    width: 528px;
    height: auto;
    margin-right: 60px;
    margin-top: 24px;
}

.product-alongside-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 543px;
    height: auto;
}

.product-alongside-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.image-and-title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
}

.alongside-image {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.enterpreneur-title {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #22343d;
}

.alongside-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    margin: 0;
    text-align: left;
    color: #22343d;
}


/* ---question section--- */
.faq-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 240px 150px 240px;
}

.faq-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 180px 50px 180px;
}

.faq-title {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 8px;
}

.faq-text {
    font-weight: 400;
    font-size: 18px;
    white-space: nowrap;
}

.faq-content {
    width: 100%;
}

.faq-list {
    width: 100%;
}

.question-item {
    margin-bottom: 16px;
    padding: 22px;
}

details[open] svg {
    transform: rotate(180deg);
}

summary {
    cursor: pointer;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

summary::-webkit-details-marker {
    display: none;
}

/* Значок "+" за замовчуванням */
.icon.plus {
    display: block;
}

/* Значок "-" прихований за замовчуванням */
.icon.minus {
    display: none;
}

/* Показуємо "-" і приховуємо "+" при відкритті меню */
details[open] .icon.plus {
    display: none;
}

details[open] .icon.minus {
    display: block;
}

.questions-sum {
    cursor: pointer;
    font-size: 1.2em;
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 18px;
    color: #22343d;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: #02897A;
}

.questions-ans {
    color: #22343d;
}

.questions-item:not(:last-child) {
    margin-bottom: 22px;
}


/*-------------CUSTOMER-----------*/

/* --- our clients section--- */

.flex-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients-container {
    text-align: center;
    width: 100%;
    margin: 100px 275px 117px 275px;
}

.our-clients-title {
    font-weight: 700;
    font-size: 40px;
    color: #22343d;
    margin-bottom: 50px;
}

.our-clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

/*--- Choose product section--- */


.choose-container {
    text-align: center;
    margin: 0 145px 101px 145px;
    width: 100%;
}

.choose-product-title {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    color: #22343d;
    margin-bottom: 50px;
}

.choose-product-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    margin-bottom: 68px;
}

.choose-product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #dedede;
    border-radius: 10px;
    width: 350px;
    height: 305px;
    padding-top: 32px;
    padding-bottom: 34px;
}


.choose-product-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.375;
    letter-spacing: 0em;
    color: #22343d;
    margin-bottom: 16px;
}

.choose-product-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6875;
    letter-spacing: 0.01em;
    text-align: center;
    color: #22343d;
    max-width: 275px;
}

/* --- Product work section--- */

.how-product-work-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-work-title {
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 73px;
}

.product-work-box {
    display: flex;
    gap: 89px;
}


.step-img {
    width: 500px;
    height: auto;
}

.product-work-boxchild {
    padding: 35px 0;
}


.step-subsubtitle {
    font-weight: 500;
    font-size: 20px;
    color: #22343d;
    margin-bottom: 16px;
}

.step-subtitle {
    font-weight: 600;
    font-size: 24px;
    color: #22343d;
    margin-bottom: 16px;
}

.step-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
    max-width: 445px;
}


/* ---------------/ PRODUCT WORK------------------- */

.product-work-box-two {
    display: flex;
    gap: 76px;
    padding: 100px;
}

.title-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.refundable-box {
    padding: 49px 0 49px 3px;
}

.refundable-text {
    max-width: 390px;
}

.product-work-box-three {
    display: flex;
    gap: 88px;
    margin-bottom: 78px;
}

.step-img {
    width: 500px;
    height: 279px;
}

.completion-box-child {
    padding: 49px 0;
}

.step-text {
    max-width: 380px;
}

.completion-btn {
    display: block;
    margin: 0 auto;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    width: 224px;
    height: 44px;
    background: #02897a;
}

.completion-btn:hover,
.completion-btn:focus {
    background-color: #d5f3f0;
    color: #1b1717;
    border: none;
}


/* --------------- GOIN THOUSAND------------------- */

.goin-thousand {
    width: 100vw;
    background-color: #fff;
    padding-top: 150px;
}

.goin-thousand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 145px 150px 145px;
}

.goin-thousand-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-bottom: 137px;
}

.business-img {
    width: 61px;
    height: auto;
    margin-bottom: 72px;
}

.goin-thousand-box {
    display: flex;
    justify-content: center;
    gap: 227px;
}

.goin-thousand-boxchild {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.goin-thousand-icon {
    stroke: #fff;
    border: #a54d4d;
    margin-bottom: 71px;
}

.goin-thousand-lincsubtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    margin-bottom: 16px;
}

.goin-thousand-list {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.78;
    margin-bottom: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.goin-thousand-linctext {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit;
}

/* --------------- PROMO------------------- */

.promo-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
    width: 968px;
    height: 345px;
    background-color: #02897a;
    margin: 0 auto;
}

.promo-container-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
    width: 968px;
    height: 345px;
    background-color: #02897a;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 10px;
}

.promo-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5;
    color: #fff;
    margin: 49px 0 46px 51px;
}

.promo-btn {
    display: block;
    padding: 10px 34px;
    margin-left: 51px;
    margin-bottom: 56px;
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.promo-container-img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.promo-img {
    height: 331px;
    margin-top: 4px;
    margin-bottom: 10px;
}

/* -----------------------RESOURCES------------------- */

.hero-resources-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 76px 133px 67px 145px;
}

.hero-resources-text {
    padding-left: 15px;
    width: 610px;
}

.hero-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.49;
    letter-spacing: -0.03em;
    margin-bottom: 24px;
}

.hero-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: -0.03em;
    margin-bottom: 24px;
}

.hero-resources-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-resources-list li:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 469px;
    border: 1px solid #eaeaea;
    border-radius: 100px;
    margin-bottom: 24px;
}

.hero-resources-list li:nth-child(2) {
    justify-content: flex-start;
    text-align: left;
}

.hero-resources-list li:nth-child(2) img {
    margin-right: 9px;
    width: 125px;
    height: auto;
}

.hero-resources-list li:nth-child(2) a {
    font-weight: 400;
    font-size: 14px;
    color: inherit;
}

.hero-resources-list button {
    border-radius: 100px;
    margin: 8px;
    width: 117px;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #bcd0e5;
    text-align: center;
    color: #173a56;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-resources-list button:hover,
.hero-resources-list button:focus {
    background-color: #02897a;
    color: #fff;
    border: none;
}

.hero-resources-list input[type="email"] {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: -0.03em;
    border: none;
    margin-left: 27px;
}

/* Latest Stories */

.latest-stories-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 150px;
}

.latest-stories-block h2 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 8px;
}

.latest-stories-block p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 32px;
}

.latest-stories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.latest-stories-list li {
    width: 348px;
    margin-right: 32px;
    box-sizing: border-box;
    text-align: left;
}

.latest-stories-list li:nth-child(3n) {
    margin-right: 0;
}

.latest-stories-list img {
    margin-bottom: 22px;
}

.latest-stories-list p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 12px;
    margin-left: 24px;
}

.latest-stories-list h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.57;
    margin-bottom: 72px;
    margin-left: 24px;
}

.latest-stories-block a {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.44;
    display: inline-flex;
    align-items: center;
    color: inherit;
}

.latest-stories-block a img {
    margin-left: 8px;
}

/* Contact Us */

.contact-us-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 265px 100px 265px;
}

.contact-us-block h2 {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.68;
    letter-spacing: 0.01em;
    margin-bottom: 17px;
}

.contact-us-block p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.01em;
    margin-bottom: 65px;
}

.footer-list {
    display: flex;
    gap: 16px;
    margin-top: 18px;
}

.social-list {
    margin-top: 0;
    margin-bottom: 56px;
}

.social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #edfffc;
    border-radius: 50%;
    text-decoration: none;
}

.contact-us-block img {
    width: 871px;
    height: auto;
    margin-bottom: 60px;
}

.contact-us-block h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.375;
    letter-spacing: 0em;
    margin-bottom: 16px;
}

.contact-us-block .footer-social-list {
    margin-top: 0;
    margin-bottom: 56px;
}

.contact-us-block .contact-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 45px;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 52px 50px;
    width: 868px;
    height: 670px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-us-block .contact-form input {
    font-family: var(--font4);
    border: 1px solid #e8e8e8;
    border-radius: 39px;
    padding: 19px 20px;
    margin-bottom: 45px;
    width: 768px;
    height: 54px;
    background: #f5f5f5;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.06667;
    letter-spacing: 0.01em;
}

.contact-us-block .contact-form textarea {
    font-family: var(--font4);
    border: 1px solid #e8e8e8;
    padding: 23px 20px;
    width: 728px;
    height: 147px;
    margin-bottom: 45px;
    background: #f5f5f5;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    resize: none;
}

.contact-us-block .contact-form button {
    font-family: var(--font4);
    align-self: flex-start;
    border-radius: 35px;
    padding: 18px 38px;
    width: 145px;
    height: 52px;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid #bcd0e5;
    text-align: center;
    color: #173a56;
    margin-top: 25px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-us-block .contact-form button:hover {
    background-color: #02897a;
    color: #fff;
    border: none;
}